@import 'tailwindcss';

body {
  font-family: Microsoft YaHei, Microsoft YaHei;
  cursor: default;

  --ep-header-height: 36px;

  @media (width >=64rem) {
    --ep-header-height: 48px;
  }
}

body .swiper-wrapper {
  flex-direction: column;
  transition-timing-function: linear !important;
}

body .swiper-slide {
  height: auto;
  margin-bottom: 12px;

  @media (width >=64rem) {
    margin-bottom: 24px;
  }
}